/* Sticky footer CSS */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS */
body > .container {
  padding: 40px 15px 40px;
}

.container .text-muted {
  margin: 20px 0;
}

.footer .container p {
  padding-right: 15px;
  padding-left: 15px;
}

div .quote {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 5px;
  border-left-color: #337aB7;
}

div .quote p {
  margin-bottom: 0px;
  font-size: 16px;
}

div .quote h4 {
  margin-top: 0px;
  margin-bottom: 15px;
}

div .list-group {
  margin-top: 20px;
}

.panel .list-group {
  margin-top: 0px;
}

.panel {
  margin-top: 15px;
}

/* Theming over Bootstrap */
.navbar-default
.navbar-nav > .active > a {
  background-color: #337aB7;
  color: #fff;
}

/* Visualization CSS */
#controller {
  padding-left: 0px;
  padding-right: 0px;
}